### 데이터베이스 연동
- 내장 DB 제공 : sqlite(RDBMS)
- 외부 DB 사용 가능 : mysql, mongo db
- 라이브러리 설치 : pymysql

In [ ]:
# !pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

#### 연결
- connect() : DB 서버 연동
- cursor : DB 와 연결 후 접근할 수 있는 객체

In [2]:
import pymysql

In [ ]:
conn = pymysql.connect(host="localhost", user="javadb", password='12345', database="springdb", charset="utf8mb4")

#### 조회
- fetchall()
- fetchone()
- fetchmany()

In [10]:
with conn.cursor() as cursor:
    sql = "select * from booktbl"
    cursor.execute(sql) # 실행
    rows = cursor.fetchmany(size=10)
    for row in rows:
        print(row)

(40000, 1, '천인국0', 'A1010100', '파워 자바0', None)
(36000, 2, '천인국1', 'A1010101', '파워 자바1', None)
(36000, 3, '천인국2', 'A1010102', '파워 자바2', None)
(36000, 4, '천인국3', 'A1010103', '파워 자바3', None)
(36000, 5, '천인국4', 'A1010104', '파워 자바4', None)
(36000, 6, '천인국5', 'A1010105', '파워 자바5', None)
(36000, 7, '천인국6', 'A1010106', '파워 자바6', None)
(36000, 8, '천인국7', 'A1010107', '파워 자바7', None)
(36000, 9, '천인국8', 'A1010108', '파워 자바8', None)
(100000, 12, '바다바다', 'A10101', '가나다라마바사', None)

In [11]:
with conn.cursor() as cursor:
    sql = "select * from booktbl"
    cursor.execute(sql) # 실행
    rows = cursor.fetchone()
    print(rows)

(40000, 1, '천인국0', 'A1010100', '파워 자바0', None)

### 테이블 생성

In [14]:
with conn.cursor() as cursor:
    sql = "create table if not exists users(id int primary key auto_increment, name varchar(30)," \
    "email varchar(100), phone varchar(20), website varchar(50), regdate date)"
    cursor.execute(sql)

### 삽입

In [21]:
# import datetime
# datetime.datetime.now()
from datetime import datetime
now = datetime.now()
print(now)
today = now.strftime("%Y-%m-%d, %H:%M:%S")

2026-02-09 16:50:24.326626

In [23]:
with conn.cursor() as cursor:
    sql = "insert into users(name, email, phone, website, regdate) values(%s, %s, %s, %s, %s) "
    
    cursor.execute(sql, ('user1', 'user1@gmail.com', '010-1234-1234', 'http://user1.com', today))
conn.commit()

In [34]:
with conn.cursor() as cursor:
    sql = "select * from users"
    cursor.execute(sql) # 실행
    rows = cursor.fetchall()
    for i in rows:
        print(i)

(1, 'user1', 'user1@gmail.com', '010-1234-1234', 'http://user1.com', datetime.date(2026, 2, 9))
(2, 'change2', 'user2@gmail.com', '010-1234-1234', 'http://user2.com', datetime.date(2026, 2, 9))
(3, 'user3', 'user3@gmail.com', '010-1234-1234', 'http://user3.com', datetime.date(2026, 2, 9))
(4, 'user4', 'user4@gmail.com', '010-1234-1234', 'http://user4.com', datetime.date(2026, 2, 9))

In [26]:
with conn.cursor() as cursor:
    users=(
        ('user2', 'user2@gmail.com', '010-1234-1234', 'http://user2.com', today),
        ('user3', 'user3@gmail.com', '010-1234-1234', 'http://user3.com', today),
        ('user4', 'user4@gmail.com', '010-1234-1234', 'http://user4.com', today),
        ('user5', 'user5@gmail.com', '010-1234-1234', 'http://user5.com', today),
    )
    sql = "insert into users(name, email, phone, website, regdate) values(%s, %s, %s, %s, %s) "
    
    cursor.executemany(sql, users)
conn.commit()

In [29]:
with conn.cursor() as cursor:
    sql = "select * from users where id=%s"
    cursor.execute(sql, 5) # 실행
    rows = cursor.fetchall()
    for i in rows:
        print(i)

(5, 'user5', 'user5@gmail.com', '010-1234-1234', 'http://user5.com', datetime.date(2026, 2, 9))

In [30]:
with conn.cursor() as cursor:
    sql = "select * from users where id in (%s, %s)"
    cursor.execute(sql, (3, 5)) # 실행
    rows = cursor.fetchall()
    for i in rows:
        print(i)

(3, 'user3', 'user3@gmail.com', '010-1234-1234', 'http://user3.com', datetime.date(2026, 2, 9))
(5, 'user5', 'user5@gmail.com', '010-1234-1234', 'http://user5.com', datetime.date(2026, 2, 9))

#### 업데이트

In [31]:
with conn.cursor() as cursor:
    sql = "update users set name=%s where id=%s"
    cursor.execute(sql, ('change2', 2)) # 실행
conn.commit()

#### 삭제

In [33]:
with conn.cursor() as cursor:
    sql = "delete from users  where id=%s"
    cursor.execute(sql,5) # 실행
conn.commit()