### 함수

```
def 함수명(인수1, 인수2...):
    수행할 문장

```

In [8]:
def hello():
    print("Hello")

In [12]:
hello()

Hello

In [13]:
def hello2():
    return "Hello"

In [15]:
msg = hello2()
print(msg)

Hello

In [16]:
def add(a, b):
    return a + b

result1 = add(5,9)
print(result1)

14

In [18]:
# 기본값
def add(a, b=5):
    return a + b

result1 = add(10)
print(result1)

15

In [ ]:
# 가변 파라메터
# 파라메터의 개수가 일정치 않은 경우 사용

In [22]:
# *args : tuple 구조
def sum_mul(choice, *args):
    if choice == "+":
        result1 = 0
        for i in args:
            result1 += i
    elif choice == "*":
        result1 = 1
        for i in args:
            result1 *= i
    return result1

print(sum_mul("+", 1,2,3,4,5))
print(sum_mul("*", 1,2,3,4,5))

15
120

In [27]:
# **kwargs : 딕셔너리 형태로 처리

def args_func1(**kwargs):
  for k, v in kwargs.items():
    print(f"{k} : {v}")

args_func1(name="Park")
args_func1(name="Park", name2="Kim", name3="Hong", active=True)
args_func1(name="Park", age=25, title="Title")

name : Park
name : Park
name2 : Kim
name3 : Hong
active : True
name : Park
age : 25
title : Title

In [28]:
def args_func2(arg1, arg2=5, *args, **kwargs):
    print(arg1, arg2, args, kwargs)
args_func2(10,20)
args_func2(10,20, "park", "kim")
args_func2(10,20, "park", "kim", age=14, name="choi")

10 20 () {}
10 20 ('park', 'kim') {}
10 20 ('park', 'kim') {'age': 14, 'name': 'choi'}

In [30]:
# 다중 리턴 가능 : tuple 에 담아서 보내줌
def sum_and_mul(a, b):
    return a + b, a * b

result1 = sum_and_mul(5, 3)
print(result1)
sum1, mul1 = sum_and_mul(9, 3)
print(f"{sum1}, {mul1}")

(8, 15)
12, 27

In [31]:
# list로 받기
def sum_and_mul(a, b):
    return [a + b, a * b]

result1 = sum_and_mul(5, 3)
print(result1)
sum1, mul1 = sum_and_mul(9, 3)
print(f"{sum1}, {mul1}")

[8, 15]
12, 27

In [ ]:
def say_nick(nick):
    if nick == "바보":
        return

In [39]:
# 함수 정의 : 사칙연산
def fourRules(num1, num2, op):
    if op == "+":
        return num1 + num2
    elif op == "-":
        return num1 - num2
    elif op == "*":
        return num1 * num2
    elif op == "//":
        return num1 / num2
  
   


   
print(fourRules(4, 5, "+"))
print(fourRules(4, 5, "-"))
print(fourRules(4, 5, "*"))
print(fourRules(4, 5, "//"))

9
-1
20
0.8

In [47]:
# 함수 정의 : 사칙연산
# 사용자한테 두 수와 연산자 입력받기
num1 = int(input("첫번째 : "))
op = input("연산")
num2 = int(input("두번째 : "))
def fourRules(num1, num2, op):
    if op == "+":
        return num1 + num2
    elif op == "-":
        return num1 - num2
    elif op == "*":
        return num1 * num2
    elif op == "//":
        return num1 / num2
print(f"{num1} {op} {num2} = {fourRules(num1, num2, op)}")


fourRules(num1, num2, op)

1 + 1 = 2

2

In [91]:
import random

print(random.random()) # Math.random() : 0 <= 숫자 < 1

print(random.randint(1, 10))
print(random.randrange(1, 10))

0.5683385121886759
5
1

In [473]:
import random
def get_number():
    return random.randrange(1, 46)

# 로또번호 추출
# 리스트, set
lotto = set()
while True:
    lotto.add(get_number())
    if len(lotto) >= 6:
        break
list1 = list(lotto)
list1.sort()
print(list1)

[1, 3, 4, 6, 12, 31]

In [ ]:
a = 1 # 전역변수
def func1(a):
    print("지역변수 ", a)
    a += 1
    print("덧셈 후 지역변수 ", a)
func1(5)
print(a)

지역변수  5
덧셈 후 지역변수  6
1

In [478]:
a = 1 # 전역변수
def func1():
    global a # 함수 내부에서 전역변수로 선언된 변수 접근
    a += 1
    print("덧셈 후 변수 ", a)
func1()
print(a)

덧셈 후 변수  2
2

### 람다 함수
- 단일문으로 표현되는 익명 함수

In [480]:
# 숫자를 받아서 **2 리턴
def square(num):
    return num ** 2

print(square(5))

25

In [481]:
square = lambda num:num ** 2
square(6)

36

In [482]:
add = lambda x, y : x + y
add(6, 9)

15

In [488]:
def strlen(s):
    return len(s)
contents = ['bob', 'charles', 'alexander3', 'teddy']

# 오름, 내림 sort 가 아닌 글자 길이에 따른 sort

contents.sort(key = strlen)
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [490]:
contents = ['bob', 'charles', 'alexander3', 'teddy']

# 오름, 내림 sort 가 아닌 글자 길이에 따른 sort

# contents.sort(key = lambda s : len(s))
contents.sort(key =len)
print(contents)

['bob', 'teddy', 'charles', 'alexander3']

In [491]:
# filter, map, reduce
list1 = [1,2,3,6,8,9]

# 짝수 요소만 추출 후 새로운 리스트 생성
list2 = [i for i in list1 if i % 2 == 0]
print(list2)

[2, 6, 8]

In [498]:
evens = []
def even1(list1):
    for i in list1:
        if i % 2 ==0:
           evens.append(i)

even1([1,2,3,4,5,6,7,8,9])
print(evens)
even1([11,22,3,6,7,9,12,14])
print(evens)

[2, 4, 6, 8]
[2, 4, 6, 8, 22, 6, 12, 14]

In [496]:
# filter 사용
list1 = [1,2,3,6,8,9]
list2=list(filter(lambda x:x%2 == 0, list1 ))
print(list2)

[2, 6, 8]

In [1]:
# map
nums = [1,2,3,6,8,10,11,12,13,14,15]
list(map(lambda x:x**2, nums))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 196, 225]