### 문자열 타입
- 파이썬에서 문자열 '', "" 가능
- """ """, ''' ''' 가능
> >ds

In [39]:
str1 = "Life is too short, You need Python"
str2 = 'Life is too short, You need Python'
str3 = """Life is too short, You need Python"""
str4 = '''Life is too short, You need Python'''


str2

'Life is too short, You need Python'

In [31]:
str3 = """\
Life is too short, You need Python
"""

str3
head = "Python"

In [34]:
# * : 반복
head * 2

'PythonPython'

In [36]:
# 길이 구하기
len(head)

6

In [41]:
# 문자열 인덱싱과 슬라이싱
print(str1[0]) # 왼쪽 시작
print(str1[-1]) # 오른쪽 끝
print(str1[-4]) # 오른쪽 끝부터

L
n
t

In [ ]:
# 인덱싱을 이용해 슬라이싱
str1[0:5]

'Life '

In [49]:
print(str1[5:])
print(str1[:])
print(str1[19:-8])

is too short, You need Python
Life is too short, You need Python
You nee

In [51]:
str2 = "20260205Sunny"
date =  str2[0:8]
weather = str2[8:]
print(date, weather)

20260205 Sunny

In [60]:
str2 = "901205-1234567" # 1, 3 : 남자 / 2, 4 : 여자
# 남자 / 여자 판별
if str2[7] == "1" or "3":
    print("남자")
elif str2[7] == "2" or "4":
    print("여자")

남자

In [64]:
for a in str1:
    print(a, end="")

Life is too short, You need Python

In [80]:
# 숫자를 입력받기 => 문자로 처리
# 54321
# ♥♥♥♥♥
# ♥♥♥♥
# ♥♥♥
# ♥♥
# ♥


num = input("숫자를 입력 : ")
for i in range(len(num)):
    for s in range(int(num[i])):
        print("♥", end=" ")
    print()

♥ ♥ ♥ ♥ ♥
♥ ♥ ♥ ♥
♥ ♥ ♥
♥ ♥
♥

In [99]:
# %d : 정수, %c : 문자 1개, %f : 부동소수, %s : 문자열
print("I eat %d apples"%3)
print("I eat %s apples"%3)
print("I eat %.2f apples"%3.12345)

I eat 3 apples
I eat 3 apples
I eat 3.12 apples

In [97]:
# format()
num = 3
day = 10
print("I eat {0} apples".format(3))
print("I eat {0} apples. so i was sick for {1} days".format(3, 10))
print(f"I eat {num} apples. so i was sick for {day} days")

I eat 3 apples
I eat 3 apples. so i was sick for 10 days
I eat 3 apples. so i was sick for 10 days

In [113]:
print("{0:>10}".format("hi")) # 총 10 자리 우측정렬
print("{0:^10}".format("hi")) # 총 10 자리 가운데정렬
print("{0:<10}".format("hi")) # 총 10 자리 좌측정렬
print(f"{'hi':<10}") # 총 10 자리 좌측정렬
num = 'hi'
print(f"{num:<10}") # 총 10 자리 좌측정렬

        hi
    hi
hi
hi
hi

In [106]:
# a 문자열 안에 b 문자의 개수
a = "hobby"
print(a.count("b"))

2

In [108]:
# find() : 원본 문자열 안에서 특정 문자 찾기
# 못 찾으면 -1
print(a.find("o"))

1

In [ ]:
# join() : 문자열 삽입
print(",".join("abcd"))

list = ['a', 'b', 'c']
print(list) # => ['a', 'b', 'c']
print("".join(list)) # => abc (list 를 문자열로 변경)

a,b,c,d
['a', 'b', 'c']
abc

In [ ]:
# 공백제거 : strip() /rstrip() / lstrip

In [115]:
# replace()
a= 'Life is too short'
a.replace("Life", "Leg")

'Leg is too short'

In [ ]:
# split()
a.split() # 공백 기준(기본)

['Life', 'is', 'too', 'short']

In [ ]:
# 입력 => 년/월/일 (2026/02/26)
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일
num = input("날짜를 YYYY/MM/DD 형식으로 입력하세요 : ")
Y = int(num[0:4]) + 10
print(f"{Y}년 {num[5:7]}월 {num[8:]}일")

2232년 2월 22일

In [ ]:
# 비밀번호 생성
# http://naver.com
# 규칙 1 : http:// 제외 => naver.com
# 규칙 2 : 첫번째로 나오는 마침표 이후 부분은 제외 => naver
# 규칙 3 : 남은 글자 중 처음 세 자리 + 글자 갯수 + 글자 내 'e' 문자 갯수 + ! => nav51!
data1 = "http://naver.com"
# data2 = data1.split('/')[2]
# data3 = data2.split('.')[0]
data2 = data1.replace("http://", "")
data3= data2[:data2.find(".")]
password = data3[0:3] + str(len(data3)) + str(data3.count('e')) + "!"
print(password)

nav51!

### 리스트
- 자바스크립트 배열구조와 동일
- 중복가능, 순서가 있음

In [185]:
# 리스트 생성
list1 = []
list2 = []
list3 = ['a', 'b', 'c']
list4 = ['a', 'b', 'c', 5, 6, 7, 3.14]
list5 = ['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

In [ ]:
# 인덱싱과 슬라이싱
print(list3[1:])
print(list3[-1:])
print(list5[3][1]) # 배열의 3번째, 3번째의 1번째

['b', 'c']
['c']
is

In [163]:
# + 연결, * 반복
print(list3 + list4)
print(list3*2)

['a', 'b', 'c', 'a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', 'a', 'b', 'c']

In [183]:
# 수정
list3[2] = 'd'
print(list3)
list3[1:2] = [10,11]
print(list3)

['a', 'b', 'd']
['a', 10, 11, 'd']

In [186]:
# 값 추가
list2.append([15,16,17])
list2

[[15, 16, 17]]

In [191]:
# 삭제
list2[0] = []
list2

[[]]

In [192]:
# 삭제 : del
del list3[1]
list3

['a', 'c']

In [208]:
# 정렬
list6 = [25,75,15,9,6,3,36]
print(f"정렬 전 {list6}")
list6.sort() # 원본 정렬됨
print(f"정렬 후 {list6}")

list7 = ['z', 'k', 'a', 'v', 'f']
print(f"정렬 전 {list7}")
list7.sort() # 원본 정렬됨
print(f"정렬 후 {list7}")

정렬 전 [25, 75, 15, 9, 6, 3, 36]
정렬 후 [3, 6, 9, 15, 25, 36, 75]
정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['a', 'f', 'k', 'v', 'z']

In [207]:
list7 = ['z', 'k', 'a', 'v', 'f']
print(f"정렬 전 {list7}")
list7.sort(reverse=True) # 내림차순
print(f"정렬 후 {list7}")

정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['z', 'v', 'k', 'f', 'a']

In [228]:
# sorted
list7 = ['z', 'k', 'a', 'v', 'f']
result = sorted(list7, reverse=True)
print(list7) # 원본 보존
print(result)

['z', 'k', 'a', 'v', 'f']
['z', 'v', 'k', 'f', 'a']

In [231]:
list7.append('a') # 끝에 추가
list7.remove('a') # 첫번째로 찾은 요소 삭제
list7

['z', 'k', 'v', 'f', 'a']

In [232]:
# pop()
list7.pop()

'a'

In [235]:
# pop(index) : 해당 index 요소 제거
list7.pop(2)
list7

['z', 'k']

In [237]:
# count()
list5.count("c")

1

In [238]:
list7 = list3 + list4
list7

['a', 'c', 'a', 'b', 'c', 5, 6, 7]

In [241]:
list3.extend(list4)
list3

['a', 'c', 'a', 'b', 'c', 5, 6, 7]

In [243]:
# 리스트 요소 모두 삭제
list3.clear()
list3

[]

In [260]:
# 100 이상의 숫자 개수
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]
num = 0
for i in numbers:
    if i >= 100:
        num += 1
print(num)

3

In [265]:
# numbers 의 숫자와 자릿수 출력
# 출력 예시 
# 273 : 3 자릿수
# num = 0
# for i in range(len(numbers)):
#     if (numbers[i] / 10) < 1 :
#         num = 1
#         print(f"{numbers[i]} : {num} 자릿수")
#     elif (numbers[i] / 100) < 1:
#         num = 2
#         print(f"{numbers[i]} : {num} 자릿수")
#     elif (numbers[i] / 1000) < 1:
#         num = 3
#         print(f"{numbers[i]} : {num} 자릿수")
for num in numbers:
    print(f"{num} : {len(str(num))} 자릿수")

273 : 3 자릿수
103 : 3 자릿수
5 : 1 자릿수
32 : 2 자릿수
65 : 2 자릿수
9 : 1 자릿수
72 : 2 자릿수
800 : 3 자릿수
99 : 2 자릿수

In [267]:
# numbers 중 1 ~ 100 까지의 숫자 중에서 짝수인 리스트 생성
# for i in range(len(numbers)):
#     if numbers[i] % 2 == 0:
#         num = numbers[i]
#         if num < 101:
#             print(num)


# 1 ~ 100 까지의 숫자 중에서 짝수인 리스트 생성
numbers = []
for i in range(1, 101):
    if i % 2 == 0:
        numbers.append(i)
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [270]:
# 비어 있는 리스트 : false
if list1:
    print("True")
else:
    print("False")

False

In [275]:
# in
fruits = ['사과', '딸기', '바나나', '수박', '배']
# fruits 안에 '딸기' 포함 여부
# for i in fruits:
#     if i == '딸기':
#         print("딸기 포함")
#         break

if '딸기' in fruits:
    print("딸기 포함")

딸기 포함

In [ ]:
# enumerate() => index, value 묶어서 반환
for idx, fruit in enumerate(fruits):
    print(idx, fruit) # => 튜플

0 사과
1 딸기
2 바나나
3 수박
4 배

In [292]:
classA = [70, 60, 55, 75, 95, 90, 80, 85, 100]
# 점수의 합과 평균
# num = 0
# for i in classA:
#     num += i
# print(f"점수의 합 : {num}")
# print(f"평균 : {(num/len(classA))}")

print(f" 합계 : {sum(classA)} 평균 : {sum(classA)/ len(classA)}")

 합계 : 710 평균 : 78.88888888888889

In [327]:
# 주차장 프로그램
# 5대만 주차 가능 (차례대로 입차 / 출차는 반대 순서)
parking_lot = []
top, car_name = 0, "A"
while True:
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료"))

    if no <= 3:
        if no == 1:
            if top >= 5:
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")

                top += 1
                # car_name 새로 구하기
                car_name = chr(ord(car_name) + 1)

        elif no == 2:
              if top > 0:
                # 마지막 꺼내기 : pop()
                outCar = parking_lot.pop()
                print(f"{outCar} 자동차 빠짐. 주차장 상태 ==> {parking_lot}")

                top -= 1
                # car_name 새로 구하기
                car_name = chr(ord(car_name) - 1)
              else:
                print("나갈 자동차가 없다")
        elif no == 3:
            print("프로그램 종료")
            break
    else:
        print("매뉴 번호를 확인해 주세요")

프로그램 종료

In [328]:
# list comprehension

# 1 ~ 7 리스트 생성
numbers = []
for n in range(1, 8):
    numbers.append(n)
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [329]:
numbers2 = [n for n in range(1,8)]
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [3]:
list1 = ['갑', '을', '병', '정', '경']
# 정 글자를 제외한 새로운 리스트 생성
list2 = []
for ch in list1:
    if ch != '정':
        list2.append(ch)
list2

['갑', '을', '병', '경']

In [4]:
list2 = [ch for ch in list1 if ch != '정']
list2

['갑', '을', '병', '경']

In [6]:
# 1 ~ 100 까지 홀수만 담는 리스트 생성
# list(range(1, 101, 2))

numbers2 = [i for i in range(1, 101) if i % 2 == 1]
print(numbers2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [23]:
# 5글자 이상의 항목만 저장하는 새로운 리스트 생성
list1 = ['nice', 'study', 'python', 'anaconda', '!!!']

list1 = [i for i in list1 if len(i) >= 5]
print(list1)

['study', 'python', 'anaconda']

In [28]:
print("ABC".isalpha())
print("ABC".isnumeric())
print("ABC".isupper())
print("ABC".islower())

True
False
True
False

In [36]:
list1 = ["A", "b", "c", "d", "E", "F", "G"]

# 소문자만 추출 후 새로운 리스트 생성
list2 = [i for i in list1 if i.islower()]
list2

['b', 'c', 'd']

In [11]:
# 튜플 생성
t1 = 1, 2, 3

In [ ]:
# 삭제 'tuple' object doesn't support item deletion

# del t1[0]

# 수정 'tuple' object does not support item assignment
# t1[0] = 15

TypeError: 'tuple' object does not support item assignment

In [5]:
# 인덱싱과 슬라이싱
print(t1[0])
print(t1[0:1])

1
(1,)

In [ ]:
# 튜플 제거
del t1

(1, 2, 3)

### 딕셔너리
- 자바의 map 구조와 동일
- key:value
- key 는 중복 불가

In [22]:
# 생성
dict1 = {}
dict2 = {"name":"hong", "age":12}
dict3 = {0:"python", 1:"java"}
dict4 = {"arr":[1, 2, 3, 4, 5], "t1":(6, 7, 8)}

In [ ]:
# 조회 : key 사용
# [] 연산자 vs .get() 메서드
# data['cherry']: 키가 없으면 KeyError 발생.
# data.get('cherry'): 키가 없으면 None 반환 (안전). 
dict2["name"]
dict2.get("addr")
print(dict2)

{'name': 'hong', 'age': 12}

In [21]:
# 추가
dict2["addr"] = "서울시 중구"
print(dict2)

{'name': 'hong', 'age': 12, 'addr': '서울시 중구'}

In [ ]:
# 존재하는 키 라면 value 업데이트 개념

In [34]:
numbers = [1,2,6,8,4,3,2,1,9,5,4,9,7,2,1,3,5,4,8,9,7,2,3]
counter = {}
# list 메소드 => 리스트 안에 특정 문자가 몇 번 나오느냐?
for i in numbers:
    counter[i] = (numbers.count(i))
print(counter)

# 출력문
# {1:3, 2:4, 3:3, 4:5....}

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [35]:
# 삭제
del dict3[0]
print(dict3)

{1: 'java'}

In [36]:
# keys() : 키 값만 모아줌
print(dict1.keys())
print(dict2.keys())

dict_keys([])
dict_keys(['name', 'age'])

In [37]:
# values() : 값만 모아줌
print(dict1.values())
print(dict2.values())

dict_values([])
dict_values(['hong', 12])

In [43]:
# items() : key, value 둘다
print(dict2.items())
print(dict2)

for k, v in dict2.items():
    print(f"{k} : {v}")

dict_items([('name', 'hong'), ('age', 12)])
{'name': 'hong', 'age': 12}
name : hong
age : 12

In [ ]:
# in : 포함
# not in : 포함하지 않는
print("사과" in ["귤", "포도"])
print("사과" in dict2)
print("name" in dict2) # key 존재 여부
print("hong" in dict2) # false

False
False
True
False

In [55]:
# 딕셔너리 생성하기

# A : 90, B:80, C:70 구성된 dict 생성하기
# B 키에 해당하는 값만 출력하기
# B 키 값을 삭제

dict1 = {"A":90, "B":80, "C":70}
print(f"B : {dict1.get("B")}")
del dict1["B"]
print(dict1)

B : 80
{'A': 90, 'C': 70}

In [53]:
# 성인:10000, 청소년:8000, 아동:3000 dict 생성
# 소아:0 항목 추가
# 키 값만 출력
# value 값만 출력

dict2 = {"성인":10000, "청소년":8000, "아동":3000}
dict2["소아"] = 0
print(dict2.keys())
print(dict2.values())

dict_keys(['성인', '청소년', '아동', '소아'])
dict_values([10000, 8000, 3000, 0])

In [57]:
list(dict2.keys())
list(dict2.values())

[10000, 8000, 3000, 0]

### set : 집합
- 중복 불가
- 순서가 없음 : 인덱싱 없음

In [58]:
s1 = set()
s2 = set([1,2,3])
s3 = set([1,4,5,6,6])
s4 = set("Hello")

In [59]:
print(s1)
print(s2)
print(s3)
print(s4)

set()
{1, 2, 3}
{1, 4, 5, 6}
{'e', 'H', 'l', 'o'}

In [64]:
# print(s2[2]) 인덱스를 이용하고 싶다면?
t1 = tuple(s2)
t1[2]
list1 = list(s2)
list1[2]

3

In [67]:
# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))

# 대칭 차집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

In [68]:
s2.add(15)
s2

{4, 5, 6, 7, 8, 9, 15}

In [69]:
s2.remove(4)
s2

{5, 6, 7, 8, 9, 15}